{% extends 'logbase.html' %}
{% block title %} Login {% endblock %}
{% block body %}
<script type="text/javascript">
	window.history.forward();
	function noBack() {
		window.history.forward();
	}
</script>
<style>
	.alert {
	  padding: 20px;
	  background-color: #f44336;
	  color: white;
	}
	
	.closebtn {
	  margin-left: 15px;
	  color: white;
	  font-weight: bold;
	  float: right;
	  font-size: 22px;
	  line-height: 20px;
	  cursor: pointer;
	  transition: 0.3s;
	}
	
	.closebtn:hover {
	  color: black;
	}
	</style>
 <body >
	<div>
	{% for msg in messages %}
   <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <strong>/</strong> {{msg}}
</div>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

      {% endfor %}

  <form  action="/userloginuser" method="post">
      {% csrf_token %}
  <div class="box-form">
      <div class="left">
          <div class="overlay">
          <h1>Out Lining.</h1><br> 
          <h3>where you can outline multiple events in a single go </h3>
          </div>
      </div>
		<div class="right">
			<img id="img" src="/static/images/avatar.jpg">
		<h3 id="log">Login</h3>
		<p>Don't have an account? <a href="/userregister">Create Your Account</a> it takes less than a minute</p>
		<div class="inputs">
			<input type="text" placeholder="Enter you username" name="username" required>
			<br>
			<input type="password" placeholder="Enter your password" name="passwd" minlength="8" maxlength="16" required>
		</div>
			
			<br><br>
			
		<div class="remember-me--forget-password">
				<!-- Angular -->
	<label>
		<input type="checkbox" name="item" checked/>
		<span class="text-checkbox">Remember me</span>
	</label><br><br>
	
		

			<a href="/fp1">Forget Password?</a>
		</div>
			Not a customer? <a href="/dealerlogin">Dealer login</a>
	
			<br>
			<button type="submit">Login</button>
	</div>
	
</div>

<!-- partial -->
  </form>
</body>
</html>
{% include 'messages.html' %}
{% endblock %}
