<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABOUT</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet" >
    <link rel="stylesheet" href="/static/css/navbar.css">
</head>
<body background="/static/images/back.jpg">
<nav class="navbar navbar-expand-lg bg-dark" id="header" >
  <div class="container-fluid" >
    <a class="navbar-brand" href="http://127.0.0.1:8000/home"><img src="/static/images/logo.jpg"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="contact">Contact</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/about">About</a>
        </li>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="faqs">FAQ's</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="history">History</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="event">Create a new event</a>
        </li>
      </ul>

      <form class="d-flex" role="search">


        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>

      </form>
    </div>
  </div>
</nav>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" >
</script>
<div align="center">
<h1>Out Lining.</h1><br>
		<h3>where you can outline multiple events in a single go </h3>
    </div>
<div class="container" align="center">

 <p1>Out Lining was born as a solution to overcome the challenges we  experienced first-hand, managing thousands of events. Today,
  Out Lining is the foundation of every event, and it is why you too,
  can master the art of the party.</p1>
    <br>
    <br>
    <p1>
        An All-One Entertainment Management Software System that simplifies your job and keeps you organized and on top of every entertainment booking situation with software created by people with years of experience in the business. Whether you are an agent, working with multiple venues or the director of a single venue director, our entertainment booking software system keeps calendars, contacts, communications, proposals and payments all in one place within easy reach in the cloud. Managing meetings, conferences, social events like weddings and parties - Planning Pod gives you the tools to track all the details related like parties and weddings to reserving your rentable spaces. This tool will save you time as it automates your tasks.
</p1>
    <br>
    <p1>
Become more productive when you use our entertainment booking software solution. Our entertainment booking system provides productivity tools that let you schedule and assign tasks, keep your lists organized, share files, keep track of your budgets and more. This software will enable you and your staff to manage every aspect of an event booking.
    </p1>

</div>

</body>
</html>