{% extends 'base.html' %}
{% block title %} Dealer History {% endblock %}
{% block body %}
<style>
  .alert {
    padding: 20px;
    background-color: #5936f4;
    color: white;
    opacity:0.8;
    text-align: center;
  }
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  </style>
  {% if user.is_authenticated %}
    <div class="heading">
      <h1 align="center">OUT LINING</h1>
    </div>
    <div class="pop" align="center">
        <marquee direction="right" id="pop1" >
            <h5>WHERE YOU CAN OUTLINE MULTIPLE EVENTS IN A SINGLE GO</h5>
        </marquee>
      </div>
      <div align="center" class="cust_book3" >
        <u><h1 class="book">Avaliable Halls</h1></u>
        
        <a href="/home">
          <img src="/static/images/homeicon.png" class="birthdaybookhomeicon">
        </a>
<table id="customers">
  <tr>
    <th>S.No</th>
    <th>Service Name</th>
    <th>Name</th>
    <th>Mobile</th>
    <th>Email</th>
  </tr>
  <tbody>
  {% for j in il %} 
  <tr>  
    <th scope="row">{{forloop.counter}}</th>
    <td >{{j.birthdayname}}</td>
    <td >{{j.birthdayame}}</td>
    <td>{{j.birthdaymobile}}</td>
    <td>{{j.birthdayemail}}</td>
  </tr>
  {% endfor %}
</tbody>
</table>


      

      </div>
    </form>
              {% endif %}


</body>
</html>
{% endblock %}