<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/dash.css">
</head>
<body background="/static/images/back2.jpg">
    <div class="heading">
        <h1 align="center">OUT LINING</h1>
      </div>
      <div class="pop" align="center">
          <marquee direction="right" id="quote" >
              WHERE YOU CAN OUTLINE MULTIPLE EVENTS IN A SINGLE GO
          </marquee>
        </div>
    <div class="head">
    <h1 > Choose your type of account</h1>
</div>
    <div class="grp1">
<div class="Collaboartor" style="top: 50%;">
  <img src="/static/images/Screenshot (9).png " width="70%" height="50% "  ><br>
   <a href="http://127.0.0.1:8000/login"> Supervisior</a>
</div>
</div>
<div class="grp2">
<div class="admin">
    <img src="/static/images/admin.png" width="40%" height="50%" ><br>
     <a href="http://127.0.0.1:8000/admin"> Admin</a>
    </div>
  </div>
</body>
</html>