{% extends 'dealerbase.html' %}
{% block title %} Dealer About {% endblock %}
{% block body %}
<div>
       <link rel="stylesheet" href="/static/css/navbar.css">
      <link rel="stylesheet" href="/static/css/about.css">
  <div align="center">
  <h1>About Us</h1>
      </div>
      <div class="about-section">
        <h1>Man Behind The Curtain</h1>
        <marquee direction="right">
           Since 2022, Carmen Tomasetti has been behind the mic, behind the stage,
          and at the center of the party.
           He understands the hurdles that come with each of those events..</marquee>
      </div>
  
      <h2 style="text-align:center" class="team">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <div class="container">
              <h2>Rajendra</h2>
              <p class="title">CEO & Founder</p>
              <p>Often, they are the face of the company to internal and external stakeholders, liaising with management, the board, and the public.
               long-term strategy of the company and for instilling
                They are responsible for the long-term strategy of the company and for instilling brand values in employees.</p>
              <p>2100032433@kluniversity.in</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
  
        <div class="column">
          <div class="card">
            <div class="container">
              <h2>Manoj</h2>
              <p class="title">Art Director</p>
              <p>Responsible for managing and supporting a team of graphic designers to bring concepts, presentations, and prototypes to life.
                 Collaborate on the ideation and development of innovative marketing campaigns.
                 Participate in the execution of the entire creative process within an allotted time frame and budget.</p>
              <p>2100032451@kluniversity.in</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
  
        <div class="column">
          <div class="card">
            <div class="container">
              <h2>Yesubabu</h2>
              <p class="title">Designer</p>
              <p>
                The role of a business designer is to apply customer-centric design methods and tools to prototyping, developing,
                 and validating new business models. Business designers work innovative marketing campaign by extending the customer-centric nature of design thinking
                 to the business viability phase of the innovation process.</p>
              <p>2100032502@kluniversity.in</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
  
  </body>
  </html>
      </div>

{% endblock %}