{% extends 'dealerbase.html' %}
{% block title %} Dealer Contact {% endblock %}
{% block body %}
<div class="heading">
  <h1 align="center">OUT LINING</h1>
<div class="pop" align="center">
    <marquee direction="right" id="pop1" >
        <h5>WHERE YOU CAN OUTLINE MULTIPLE EVENTS IN A SINGLE GO</h5>
    </marquee>

    <div class="container">
      <div style="text-align:center">
        <u><h1 id="h1id">Contact Us</h1></u>
        <p>Swing by for a cup of coffee, or leave us a message:</p>
      </div>
      <a href="/dealerhome">
        <img src="/static/images/homeicon.png" class="contacthomeicon">
      </a>
      <div class="row">
        <div class="column">
          <img src="/static/images/map.jpg" style="width:100%">
        </div>
        <div class="column">
          <form action="/contact1/" method="post">
            {% csrf_token %}
            <label for="name" id="label1">Name</label>
            <input type="text" id="name" name="dealername" placeholder="Your name.." class="cname" required>
            <label for="name" id="label2">email</label>
            <input type="text" id="email" name="dealeremail" placeholder="email.." class="cemail" required>
            <label for="state" id="label3">State</label>
            <select id="state" name="dealerstate" class="cstate" required>
              <option value="Andhra pradesh" >Andhra pradesh</option>
              <option value="Kerala">Kerala</option>
              <option value="Tamilnadu" >Tamilnadu</option>
            </select>
            <br>
            <label for="subject" id="label4">Subject</label>
            <textarea id="subject" name="dealersubject" placeholder="Minimum 20 words" style="height:170px" class="csubject" required></textarea>
            <button class="cust_btn1">Submit</button>
          </form>
        </div>
      </div>
    </div>
    </div>
    </div>

</div>
</div>
<!-- {% include 'messages.html' %} -->
{% endblock %}