<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ's</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet" >
  <link rel="stylesheet" href="/static/css/navbar.css">
</head>
<body background="/static/images/back.jpg">
<nav class="navbar navbar-expand-lg bg-dark" id="header" >
  <div class="container-fluid" >
    <a class="navbar-brand" href="http://127.0.0.1:8000/home"><img src="/static/images/logo.jpg"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/contact">Contact</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/about">About</a>
        </li>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/FAQ's">FAQ's</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="history">History</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="event">Create a new event</a>
        </li>
      </ul>

      <form class="d-flex" role="search">


        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>

      </form>
    </div>
  </div>
</nav>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" >
</script>
<section>
  <h3 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h3>
  <p class="text-center mb-5">
    Find the answers for the most frequently asked questions below
  </p>

  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="far fa-paper-plane text-primary pe-2"></i>CAN I ADD MULTIPLE USERS?</h6>
      <p>
        Outlining is ideally suited for large offices with multiple employees. You can add and remove an unlimited number of employees as you see fit.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-pen-alt text-primary pe-2"></i>DOES OUTLINING OFFER A MOBILE APP?</h6>
      <p>
        Oz does not have a mobile app, but we are platform agnostic. You can reach the Oz browser from your laptop, phone, iPad, and more
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4" id="faq">
      <h6 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i>
        CAN I HAVE MULTIPLE DAY EVENTS?
      </h6>
      Yes! With Oz, you can have multiple day bookings in one event. You can also book multiple rooms in one venue.
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-rocket text-primary pe-2"></i> HOW DOES OZ ADDRESS USER PERMISSIONS WITHIN THE VARIOUS TOOLS?
      </h6>
      <p>
        Oz has a User table where you can assign various permissions. For example your bookings are your business.
         You can assign different permissions so some people can approve the booking, and some can or can’t delete or edit your bookings.
         You will have 100% control of your events and your bookings.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-home text-primary pe-2"></i>WHAT IF I NEED HELP?
      </h6>
      <p>We offer phone and email support with a live person during business hours,
         and any call or email you deem important after hours we will respond if not immediately, then shortly after.
        .</p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-book-open text-primary pe-2"></i>CAN I CANCEL AT ANYTIME?</h6>
      <p>
        More than anything, Oz wants to earn your trust. There are no long-term contracts with us.
      </p>
    </div>
  </div>
</section>
</body>
</html>