<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ's</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet" >
  <link rel="stylesheet" href="/static/css/navbar.css">
</head>
<body background="/static/images/back.jpg">
<nav class="navbar navbar-expand-lg bg-dark" id="header" >
  <div class="container-fluid" >
    <a class="navbar-brand" href="http://127.0.0.1:8000/home"><img src="/static/images/logo.jpg"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="contact">Contact</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/about">About</a>
        </li>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="faqs">FAQ's</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="history">History</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="event">Create a new event</a>
        </li>
      </ul>

      <form class="d-flex" role="search">


        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>

      </form>
    </div>
  </div>
</nav>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" >
</script>
<div align="center">
<h1>Out Lining.</h1><br>
		<h3>where you can outline multiple events in a single go </h3>
<h1 align="center"> FAQ's  </h1>
</div>

<h2>
  <li>CAN I HAVE MULTIPLE DAY EVENTS?</li>
</h2>

<p1><b>--></b>Yes! With Out Lining, you can have multiple day bookings in one event. You can also book multiple rooms in one venue.</p1>

<h2>
  <li>WHAT PROGRAMS INTEGRATE WITH OUT LINING?
</li>
</h2>

<p1><b>--></b>Out Lining is integrated with Quickbooks Online Version, Google Calendar, Google Documents and all email programs..</p1>


</body>
</html>