{% extends 'Dealer/dealerbase.html' %}
{% block title %} Event {% endblock %}
{% block body %}
<style>
.l1{
  text-indent: 75px;
}
.l2{
  text-indent: 40px;
}
.l3{
  text-indent: 94px;
}
.l4{
  text-indent: 99px;
}
.l5{
  text-indent: 118px;
}
.l6{
  text-indent: 35px;
}
.eventhtml{
    box-shadow: 0 0 22px rgb(62 145 224);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 78px 25px;
    background-color: rgba(108, 185, 245, 0.607);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    position: absolute;
    top: 40%;
    left: 31%;
    width: 45%;
}
.eventhtml h1{
    display: inline-block;
    font-size: 40px;
    border-bottom: 2px solid rgb(255, 0, 0);
    margin-bottom: 15px;
    padding: 4px 0;
    font-weight: bold;
}
.cust_book2 h1:hover{
  width: 60%;
}
.box{
  padding: 2px;
  margin: 50px 0px;
  width: 100%;

}
.box input,select{
    text-align: center;
    background: none;
    font-size: 20px;
    width: 65%;
    outline: none;
    border: none;
    color: rgb(245, 247, 251);
    padding: 5px 10px;
    border-bottom: 2px solid rgb(245, 183, 26);
}
input.sname{
  padding: 5px 10px;
}
.alert {
    padding: 20px;
    background-color: #a6f089;
    color: rgb(18, 3, 3);
  }

  .closebtn {
    margin-left: 15px;
    color: rgb(14, 2, 2);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }
  .eventhomeicon{
  border: 2px solid black;
    padding: 4px;
    width: 35px;
    border-radius: 20px;
    position: absolute;
    left: 89%;
    top: 5%;
     }
   .cust_btn{
    position: absolute;
    top: 80%;
    left: 35%;
    font-size: 22;
    background: none;
    cursor: pointer;
    outline: none;
    width: 35%;
    margin: 12px 0;
    padding: 6px;
    border-radius: 90px;
    border: 2px solid rgb(245, 183, 26);
    font-weight: bold;
} 

.cust_btn:hover{
    color: rgb(250, 234, 8);
    background: rgb(20, 173, 238);
    outline: none;
} 
.cateringsbg{
  background-color: rgba(108, 185, 245, 0.607);
}

</style>
{% for msg in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
     {{msg}}
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}



<div class="heading">

  <h1 align="center"top="40%">OUT LINING</h1>
</div>
<div class="pop" align="center">
    <marquee direction="right" id="pop1" >
        <h5>WHERE YOU CAN OUTLINE MULTIPLE EVENTS IN A SINGLE GO</h5>
    </marquee>
  </div>
<div align="center" class="eventhtml" >
  <u><h1>Canceling services</h1></u>
  <form class="box" action="/dealerdeleteevent/" method="post" id="mrt">
  {% csrf_token %}
  <a href="/home">
    <img src="/static/images/homeicon.png" class="eventhomeicon">
  </a>
<label class="l1">Type of event:</label><select name="event"  class="drop" required>
  <option value="Caterings" class="cateringsbg">Caterings</option>
  <option value="Musicical concert" class="cateringsbg">Musicical concert</option>
  <option value="Wedding Hall" class="cateringsbg">Wedding Hall</option>
  <option value="Birthday Party" class="cateringsbg">Birthday Party</option>
</select><br>
Company Name:<input type="text" name="cname" class="cust" required><br>
Organizer Name:<input type="text" name="oname" class="cust" required><br>
<button class="cust_btn" type="submit">Delete</button>

</form>
</div>

{% endblock %}