* {
    box-sizing: border-box;
  }

  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: rgba(6, 177, 245, 0.607);
    padding: 10px;
    border: none;
    outline: none;


    display: inline-block;
    color: rgb(255, 255, 255);


  }

  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    color: #edadbe;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  #fname{
    width: 100%;
    background-color: antiquewhite;
  }
  #subject{
    border-bottom: 2px solid rgb(26, 245, 114);
    color: rgb(0, 75, 250);
  }
  #name{
    border-bottom: 2px solid rgb(26, 245, 114);
    color: rgb(0, 75, 250);
  }
  #email{
    border-bottom: 2px solid rgb(26, 245, 114);
    color: rgb(0, 75, 250);
  }
  #state{
    border-bottom: 2px solid rgb(26, 245, 114);
    color: rgb(0, 75, 250);
  }
  .column{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    border-radius: 20px;
  }
  .cust_btn{
    font-size: 22;
    background: none;
    cursor: pointer;
    outline: none;
    width: 35%;
    margin: 12px 0;
    padding: 6px;
    border-radius: 90px;
    border: 2px solid rgb(245, 183, 26);
    font-weight: bold;
  }
  .cust_btn:hover{
    color: rgb(250, 234, 8);
    background: rgb(20, 173, 238);
    outline: none;
  }